<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Media Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        .main.container {
            margin: 6em 0 4em 0;
        }
    </style>
</head>
<body>
    <nav class="ui huge fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                Media Tracker
            </div>
            <div class="item">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
            </div>
            <div class="item">
                @Html.ActionLink("Movies", "Index", "Movie", null, new { @class = "nav-link" })
            </div>
        </div>
    </nav>
    <div class="ui main container">
        @RenderBody()
    </div>
    <footer class="ui inverted vertical footer segment">
        <p>&copy; @DateTime.Now.Year - Media Tracker</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>