@model Application.Movies.Queries.GetMovieDetails.MovieDetailModel

<h1>History</h1>
<hr />
@if (!Model.Watched)
{
    <p class="text-center font-weight-bold">Nothing to see here. What are you waiting for...?</p>
    <p class="offset-3 col-6">
        @Html.ActionLink("I've Watched It!", "Watch", new { id = Model.Id }, new { Class = "btn btn-success btn-block" })
    </p>
}
else
{
    <div class="accordion" id="accordionExample">
        @foreach (var watchHistory in Model.WatchHistory)
        {
            var collapseId = "collapseOne" + watchHistory.Number;
            <div class="card text-white bg-dark">
                <div class="card-header" data-toggle="collapse" data-target="#@collapseId" aria-expanded="true" aria-controls="collapseOne">
                    @watchHistory.WatchedOn
                </div>
                <div id="@collapseId" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Rating: @watchHistory.Rating/10</p>
                        <p>@watchHistory.Comment</p>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
}