@model  Application.Movies.Queries.GetMovieDetails.MovieDetailModel
@using MediaTracker.MVC.Extensions

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<div class="row">
    <div class="col-3">
        <img src="@Model.PosterUrl" alt="No Image" class="img-thumbnail">
    </div>
    <div class="col-9">
        <h1>
            @Html.DisplayFor(model => model.Title)
            <small class="text-muted">
                @foreach (var item in Model.Genres)
                {
                @Html.GenreIcon(item)
                }
            </small>
        </h1>
        @Html.DisplayFor(model => model.Overview)
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <h1>History</h1>
        <hr />
        <p class="text-center font-weight-bold">Nothing to see here. What are you waiting for...?</p>
        <p class="offset-3 col-6">
            <button type="button" class="btn btn-success btn-block">Ok, I Watched It!</button>
        </p>
    </div>
</div>