@model Application.Movies.Commands.WatchMovieModel

@{
    ViewBag.Title = "Watch";
}

<h2>Watch</h2>
<hr />

@using (Html.BeginForm("Watch", "Movie", new { movieId = Model.MovieId }, FormMethod.Post, new { @class = "ui form" }))
{
    @Html.AntiForgeryToken()

    <div class="field">
        @Html.LabelFor(model => model.Number)
        @Html.EditorFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
    </div>

    <div class="field">
        @Html.LabelFor(model => model.Date)
        @Html.EditorFor(model => model.Date)
        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
    </div>

    <div class="field">
        @Html.LabelFor(model => model.Rating)
        @Html.EditorFor(model => model.Rating)
        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
    </div>

    <div class="field">
        @Html.LabelFor(model => model.Comment)
        @Html.EditorFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
    </div>
    <div class="ui hidden negative message" id="formresult"></div>
    <div class="ui error message" id="formvalidation"></div>

    <input type="submit" value="Watch!" class="ui submit green button" />
    @Html.ActionLink("Back", "Details", new { id = Model.MovieId }, new { @class = "ui button" })
}
