@using System
@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Media Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .main.container {
            margin: 6em 0 4em 0;
        }
    </style>
</head>
<body>
    <div class="ui visible inverted left demo vertical labeled icon sidebar menu">
        <a class="item" href="@Url.Action("index", "home")">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item" href="@Url.Action("index", "movies")">
            <i class="block film icon"></i>
            Movies
        </a>
    </div>
    <div class="ui main container">
        @RenderBody()
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <p>&copy; @DateTime.Now.Year - Media Tracker</p>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>