@model  Application.Movies.Queries.GetMovieDetails.MovieDetailModel
@using MediaTracker.MVC.Extensions

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<div class="ui grid">
    <div class="four wide column">
        <img src="@Model.PosterUrl" alt="No Image" class="ui image">
    </div>
    <div class="twelve wide column">
        <h1>
            @Html.DisplayFor(model => model.Title)
            @foreach (var item in Model.Genres)
            {
                @Html.GenreIcon(item)
            }
        </h1>
        @Html.DisplayFor(model => model.Overview)

        <h2 class="ui horizontal divider header">
            History
        </h2>
        @if (!Model.Watched)
        {
            <p style="font-weight:bold; text-align:center">Nothing to see here. What are you waiting for...?</p>
            @Html.ActionLink("I've watched it!", "watch", new { movieId = Model.Id }, new { Class = "ui fluid button green" })
        }
        else
        {
            @Html.ActionLink("I've watched it... again!", "watch", new { movieId = Model.Id }, new { Class = "ui fluid button green" })
            <br />
            <div class="ui cards">

                @foreach (var watchHistory in Model.WatchHistory)
                {
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                @watchHistory.WatchedOn
                            </div>
                            <div class="description">
                                @watchHistory.Comment

                                <div class="rating" data-yo-rating="@watchHistory.Rating"></div>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated">
                                <i class="pencil icon"></i>
                                Edit
                            </span>
                            <span class="right floated">
                                <i class="trash icon"></i>
                                Delete
                            </span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(".rating").each(function () {
            $(this).rateYo({
                starWidth: "25px",
                numStars: 10,
                maxValue: 10,
                normalFill: '#fff9c4',
                ratedFill: '#ffd54f',
                readOnly: true,
                rating: $(this)[0].dataset.yoRating,
            })
        })
    </script>
}